.section {
  padding-top: 58px;
  padding-bottom: 53px;
}

.section h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #000000;
  text-align: center;
  margin-bottom: 43px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

@media (max-width: 1372px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 700px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 500px) {
  .section h2 {
    font-size: 30px;
    line-height: 30px;
  }
}
